.hero {
  background-color: var(--primary-color-white);
  text-align: center;
  padding: 3.125em 0.625em 1.375em 0.625em;
}

.hero__texto-subtitulo {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-gray);
}

.hero__texto-titulo {
  font-size: 2.25rem;
  color: var(--color-dark-blue);
  margin: 0.5em 0;
}

.hero__texto-paragrafo {
  font-family: 1.5rem;
  font-weight: 500;
  color: var(--color-gray);
  padding: 0 1.5em;
  margin-bottom: 2.5em;
}

.hero__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.hero__links-playstore,
.hero__links-appstore {
  max-width: 236px;
  width: 100%;
  padding: 1.063em 0;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--color-red);
  color: var(--second-color-white);
}

.hero__links-appstore {
  background-color: transparent;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  margin-bottom: 3em;
}

.hero__imagem img {
  max-width: 548px;
  width: 100%;
  margin-bottom: 5em;
}
